<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>za.ac.tut.web.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>za.ac.tut.web.AddUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserServlet</servlet-name>
        <servlet-class>za.ac.tut.web.EditUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserDetailsServlet</servlet-name>
        <servlet-class>za.ac.tut.web.EditUserDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUserListServlet</servlet-name>
        <servlet-class>za.ac.tut.web.GetUserListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>za.ac.tut.web.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserDetailsServlet</servlet-name>
        <servlet-class>za.ac.tut.web.DeleteUserDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet.do</url-pattern>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/AddUserServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserServlet</servlet-name>
        <url-pattern>/EditUserServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserDetailsServlet</servlet-name>
        <url-pattern>/EditUserDetailsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUserListServlet</servlet-name>
        <url-pattern>/GetUserListServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/DeleteUserServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserDetailsServlet</servlet-name>
        <url-pattern>/DeleteUserDetailsServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
